<!DOCTYPE html>
<html>
<head>
    <title>Customers</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Customers</h1>
<% if(customers.length > 0) { %>
    <ul>
        <% customers.forEach(function(customer) { %>
            <li><%= customer.name %></li>
        <% }); %>
    </ul>
<% } else { %>
    <p>No customers found</p>
<% } %>
<a href="/">Back to Home</a>
</body>
</html>